<!DOCTYPE html>

<div class="foo-container">
    <footer>
        <a href="/about" class="footer-items">About</a>
        <a href="/about" class="footer-items">Download the X app</a>
        <a href="/about" class="footer-items">Help Center</a>
        <a href="/about" class="footer-items">Terms of Service</a>
        <a href="/about" class="footer-items">Privacy Policy</a>
        <a href="/about" class="footer-items">Cookie Policy</a>
        <a href="/about" class="footer-items">Accessibility</a>
        <a href="/about" class="footer-items">Ads info</a>
        <a href="/about" class="footer-items">Blog</a>
        <a href="/about" class="footer-items">Status</a>
        <a href="/about" class="footer-items">Careers</a>
        <a href="/about" class="footer-items">Brand Resources</a>
        <a href="/about" class="footer-items">Advertising</a>
        <a href="/about" class="footer-items">Marketing</a>
        <a href="/about" class="footer-items">X for Business</a>
        <a href="/about" class="footer-items">Developers</a>
        <a href="/about" class="footer-items">Directory</a>
        <a href="/about" class="footer-items">Settings</a>
        <a href="/about" class="footer-items">© 2024 X Corp.</a>
    </footer>
</div>